<?xml version="1.0"?>
<!--
 /**
  * Main configuration file of SanMar integration extension.
  *
  * @category    Fastgento_SanMar
  * @package     SanMar
  */
 -->
<config>
    <modules>
        <Fastgento_SanMar>
            <version>1.0.1</version>
        </Fastgento_SanMar>
    </modules>
    <global>
        <models>
            <sanmar>
                <class>Fastgento_SanMar_Model</class>
            </sanmar>
        </models>
        <blocks>
            <sanmar>
                <class>Fastgento_SanMar_Block</class>
            </sanmar>
        </blocks>
        <resources>
            <sanmar_setup>
                <setup>
                    <module>Fastgento_SanMar</module>
                    <class>Fastgento_SanMar_Model_Resource_Setup</class>
                </setup>
            </sanmar_setup>
        </resources>
    </global>
</config>
